@model CoachPosition.Data.Entities.Train
@{
    ViewBag.Title = "AddTrain";
}

<h3 class="info_name">Информация о составе поезда *</h3>
@using (Html.BeginForm("AddTrain", "Manager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <h3 class="message">@ViewBag.Message</h3>
    <div class="div_fields">
        <div class="editor_label">
            @Html.LabelFor(m => m.NumTrain)
        </div>
        <div>
            @Html.TextBoxFor(m => m.NumTrain, new { @class = "manager_field" })
            @Html.ValidationMessageFor(m => m.NumTrain, null, new { @class = "red_color" })
        </div>
        <div class="editor_label">
            @Html.LabelFor(m => m.NumCars)
        </div>
        <div>
            @Html.TextBoxFor(m => m.NumCars, new { @class = "manager_field" })
            @Html.ValidationMessageFor(m => m.NumCars, null, new { @class = "red_color" })
        </div>
    </div>
    <div class="btn_center">
        @if (ViewBag.Message == null) 
        { 
        <input type="submit" class="btn_main" value="Сохранить" />
        } else 
        { 
        <input type="submit" class="btn_main" value="Редактировать" />            
        }
    </div>
}
<h4 id="warn_info">* Номер поезда вводится с учетом четного и нечетного направления, где '+' - четное направление, '-' - нечетное направление (например поезд 139НА+ (или +139НА) будет означать четное направление, 139НА- (или -139НА) нечетное).
<br /><br />** Номера вагонов вводятся цифрами, используя диапазон с помощью знака "-"(например запись "1-8,0,9-20", будет означать нумерацию вагонов с 1 по 8, далее идет вагон ресторан, почтовый и т.п., и вагоны с 9 по 20), либо последовательно, через запятую (1,2,3,4,5,0,6,7,8...)  Вагоны рестораны, почтовые вагоны и т.д. обозначаются цифрой 0.</h4>
